.order-container {
  background-color: var(--dark);
  color: var(--light);
}

.order-container > p {
  margin: 2px 0px;
}

.order > p {
  margin: 2px 0px;
}

.text-primary-custom {
  color: var(--primary) !important;
  font-weight: 500;
}

.order-img {
  object-fit: contain;
  margin-bottom: 20px;
}

.order-icon {
  color: var(--primary);
}

.payment-icon {
  width: 40px;
  color: var(--primary) !important;
}
