.thank-btn {
  width: auto;
  height: 45px;
  font-weight: bold;
  border: none;
  outline: none;
  color: var(--light);
  transition: all 0.4s ease-in-out;
  font-size: 1.7rem !important;
  background-color: var(--primary);
}

.thank-btn:hover {
  background-color: var(--dark);
}
