.product-card {
  background-color: var(--dark) !important;
  margin: 20px 0px;
  border: none !important;
  height: 450px;
  transition: all 0.7s ease-in-out;
  color: var(--light);
}

.product-card:hover {
  transform: translateY(-15px);
  background-color: var(--light) !important;
  color: var(--dark);
}

.product-img-container {
  border-bottom-left-radius: 20% !important;
  background-color: white;
  box-sizing: border-box;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price-text {
  color: var(--primary);
}

.product-btn {
  background-color: var(--primary) !important;

  height: 40px !important;
  width: 150px !important;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: var(--light);
  transition: 0.4s ease-in-out;
  font-weight: 500;
  box-sizing: border-box;
}

.product-btn:hover {
  background-color: var(--dark) !important;
}

@media screen and (max-width: 756px) and (min-width: 300px) {
  .product-card {
    margin: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    height: 500px;
  }
}
