.product-card {
    background-color: #f2f2f2 !important;
    margin: 20px 0px;
}

.product-card:hover {
    box-shadow: 0px 0px 30px -10px var(--dark);
}

.product-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.price-text {
    color: var(--primary);
}

.product-btn {
    background-color: var(--dark);
    height: 30px;
    width: 100px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: var(--light);
    transition: 0.4s ease-in-out;
    font-weight: 500;
}


.product-btn:hover {
    background-color: var(--primary);

}

@media screen and (max-width:756px) and (min-width:300px) {
    .product-card {
        margin: 20px;
    }

}