.footer {
    background-color: var(--dark);
    border-bottom: 2px solid var(--light);
}

.link {
    color: var(--light) !important;
    font-size: 1.3rem;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px 10px;
    text-transform: uppercase;
}

.link:hover {
    color: var(--primary) !important;
}

.footer-social {
    font-size: 2rem !important;
    margin: 10px;
}

.footer-social:hover {
    color: var(--primary);
    cursor: pointer;
}

.footer-copyright {
    background-color: var(--dark);
    font-size: 1.5rem;
}