.shipping-input {
  width: 80%;
  height: 30px;
  padding: 0px 0px 0px 10px;
  font-size: 1.5rem;
  border: 1px solid var(--dark);
  background-color: var(--light);
}

.paypal {
  position: relative;
}

.paypal-btn {
  width: 100%;
  height: 50px;
  background-color: var(--primary);
}

.paypal-img {
  position: absolute;
  width: 100px;
  top: 0px;
}

.checkout-heading {
  padding: 10px 0px;
  border-bottom: 2px solid;
  margin: 10px 0px;
}
