.header-nav {
  background-color: var(--dark);
  height: 50px;
}

.header-nav-container {
  height: 50px;
}

.link {
  color: var(--light);
  font-size: 1.3rem;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px 10px;
  text-transform: uppercase;
}

.link:hover {
  color: var(--primary);
}

.responsive-header {
  padding: 5px;
  background-color: var(--light);
}

.cart-icon {
  font-size: 2rem;
}

.header-btn {
  width: auto;
  height: 30px;
  text-decoration: none;
  font-size: 1.5rem !important;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.4s ease-in-out;
}

.header-btn:hover {
  background-color: var(--dark);
}

@media screen and (min-width: 757px) {
  .responsive-header {
    display: none;
  }
}

@media screen and (max-width: 756px) and (min-width: 300px) {
  .header-nav {
    display: none;
  }

  .responsive-header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
