.header-search {
    height: 100px;
}

.header-title {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}


.search-input {
    width: 300px;
    height: 30px;
    padding: 0px 0px 0px 10px;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}


@media screen and (max-width:756px) and (min-width:300px) {
    .header-search-container {
        display: none;
    }
}